*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#F8FAF7;
}

/* Header */

.collection-header{
    text-align:center;
    padding:80px 20px;
    background:linear-gradient(
    135deg,
    #EDF5EE,
    #F8FAF7
    );
}

.collection-header h1{
    font-size:52px;
    color:#92236f;
}

.collection-header p{
    margin-top:10px;
    color:#7f6b80;
    letter-spacing:2px;
}

/* Product Grid */

.products-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:35px;
    padding:50px;
}

/* Product Card */

.product-card{
    position:relative;
    background:white;
    border-radius:24px;
    overflow:hidden;
    transition:.5s;
    box-shadow:0 8px 30px rgba(0,0,0,.05);
}

.product-card:hover{
    transform:translateY(-12px);
    box-shadow:0 25px 45px rgba(81, 59, 72, 0.18);
}

/* Shine Effect */

.product-card::before{
    content:"";
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background:linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.35),
    transparent
    );
    transition:.8s;
    z-index:2;
}

.product-card:hover::before{
    left:100%;
}

/* Badge */

.product-badge{
    position:absolute;
    top:15px;
    left:15px;
    background:#513b4a;
    color:white;
    padding:8px 14px;
    border-radius:30px;
    font-size:12px;
    z-index:10;
}

/* Product Image */

.product-card img{
    width:100%;
    height:400px;
    object-fit:cover;
    transition:.6s;
}

.product-card:hover img{
    transform:scale(1.05);
    filter:brightness(1.08);
}

/* Product Info */

.product-info{
    padding:20px;
    text-align:center;
}

.product-info h3{
    font-size:20px;
    margin-bottom:10px;
    color:#333;
}

.price{
    font-size:24px;
    font-weight:700;
    color:#513b42;
    margin-bottom:15px;
}

/* Buy Button */

.buy-btn{
    width:100%;
    padding:15px;
    border:none;
    border-radius:14px;
    background:linear-gradient(
    135deg,
    #513b47,
    #99607c
    );
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.4s;
}

.buy-btn:hover{
    letter-spacing:1px;
    transform:translateY(-4px);
    box-shadow:0 15px 25px rgba(64,81,59,.25);
}

.buy-btn:active{
    transform:scale(.96);
}

/* Responsive */

@media(max-width:768px){

    .collection-header h1{
        font-size:38px;
    }

    .products-grid{
        padding:25px;
        gap:25px;
    }

    .product-card img{
        height:320px;
    }

}