*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#f9f9f9;
}

.collection-header{
text-align:center;
padding:60px 20px;
}

.collection-header h1{
font-size:48px;
color:#6B102B;
}

.collection-header p{
color:#777;
margin-top:10px;
}

.products-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:30px;

padding:40px;

}

.product-card{

background:#fff;

border-radius:20px;

overflow:hidden;

text-align:center;

box-shadow:
0 10px 25px rgba(0,0,0,.08);

transition:.4s;

}

.product-card:hover{

transform:translateY(-12px);

box-shadow:
0 20px 40px rgba(212,175,55,.25);

}

.product-card img{

width:100%;

height:380px;

object-fit:cover;

transition:.5s;

}

.product-card:hover img{

transform:scale(1.08);

}

.product-card h3{

margin-top:15px;

color:#333;

}

.price{

color:#6B102B;

font-weight:bold;

font-size:20px;

margin:10px 0;

}

.buy-btn{

margin:20px;

padding:14px 30px;

border:none;

border-radius:10px;

background:
linear-gradient(
135deg,
#9f092f,
#7c073f
);

color:white;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.buy-btn:hover{

transform:translateY(-4px);

box-shadow:
0 10px 20px rgba(246, 50, 201, 0.4);

}

.buy-btn:active{

transform:scale(.95);

}