*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#faf8f5;
}

.collection-header{

padding:70px 20px;

text-align:center;

background:linear-gradient(
135deg,
#6B102B,
#8C1C3A
);

color:white;
}

.collection-header h1{

font-size:48px;

margin-bottom:10px;

}

.products-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:30px;

padding:50px;

}

.product-card{

background:white;

border-radius:20px;

overflow:hidden;

text-align:center;

transition:.4s;

box-shadow:
0 8px 25px rgba(0,0,0,.08);

}

.product-card:hover{

transform:translateY(-12px);

box-shadow:
0 20px 40px rgba(107,16,43,.25);

}

.product-card img{

width:100%;

height:400px;

object-fit:cover;

transition:.5s;

}

.product-card:hover img{

transform:scale(1.08);

}

.product-card h3{

margin-top:15px;

padding:0 10px;

}

.price{

font-size:22px;

font-weight:bold;

color:#6B102B;

margin:15px 0;

}

.buy-btn{

margin-bottom:20px;

padding:14px 35px;

border:none;

border-radius:12px;

background:#6B102B;

color:white;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.buy-btn:hover{

background:#8C1C3A;

transform:translateY(-4px);

}

.buy-btn:active{

transform:scale(.95);

}
